*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: 'Protest Guerrilla';
}

/* Background Video */
#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


/* Background Audio - No visual representation needed */
#background-audio {
    display: none;
}

header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
	background-size: 100% 100%;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: fill;
    
}

.centerimg{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.centerimg h2{
	width: 100%;
	color: #ffffff;
	text-align: center;
	font-size: 1.4em;
	font-weight: 500;
	word-spacing: 10px;
	font-family: 'Protest Guerrilla';
	animation: ganeshji 5s infinite;
}
@keyframes ganeshji {
	0%{color: white;}
	20%{color: pink;}
	40%{color: orange;}
	60%{color: green;}
	80%{color: red;}
	100%{color: greenyellow;}
}

@media (max-width: 640px){

.centerimg{
	margin-top: 60px;
}

.centerimg img{
	width: 250px;
}

.centerimg h2{
	font-size: 1.2em;
	word-spacing: 0px;
	width: 200%;
}
}
